<p id="notice"><%= notice %></p>



<h1>Listing blogs</h1>

<% @blogs.in_groups_of(3) do |group| %>
  <div class="row">
    <% group.compact.each do |blog| %>
      <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
        <%= image_tag blog.picture_url, width: '100%' if blog.picture.present? %>
        <div class="caption">
        <h4><%= link_to blog.name, blog %></h4>
        <p><%= link_to blog.description, blog %></p><br>
     
        <p><%= link_to blog.updated_at, blog  %></p>
      </div>
      </div>
      </div>
    <% end %>
  </div>
<% end %>